.topNav {
  display: flex;
  align-items: right;
  background-color: black;
  height: 60px;
  margin-top: 10px;

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 8px;
    margin-left: 30px;
  }

  .paths {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    color: #f9f9f9;
    list-style: none;
    transition-duration: 0.5s;
    font-size: 14pt;

    &:hover {
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
    input {
      border-radius: 15px;
      height: 30px;
      width: 235px;
      font-size: 14pt;
      margin-right: 6px;
    }

    .dropdown {
      position: relative;
      ul {
        display: none;
      }
      &:hover {
        ul {
          display: block;
          position: absolute;
          margin-right: 50%;
          width: 160px;
          margin-right: 150px;
          li {
            list-style: none;
            &:hover {
              color: white;
              background-color: red;
              font-family: inherit;
            }
          }
        }
      }
    }

    li {
      margin-right: 3em;
    }
  }
}

.inputIcon i {
  position: absolute;
}

.icon {
  padding: 5px;
  color: black;
  min-width: 40px;
  text-align: center;
}

.inputField {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  padding-left: 35px;
}
